body {
  background-color: #ffff;
  font-family: "Ibarra Real Nova", serif;
}

h1 {
  font-family: "Ibarra Real Nova", serif;
}

h4 {
  font-family: "Ibarra Real Nova", serif;
  font-weight: lighter;
}

p {
  font-family: "Ibarra Real Nova", serif;
  font-size: 18px;
  font-weight: bolder;
}

img {
  margin-right: 5px;
  height: 60px;
  width: 60px;
}

ul {
  list-style-type: none;
}

.weather-app-search {
  max-width: 600px;
  margin: 30px auto;
}

.sun {
  color: #ffebaf;
  font-size: 25px;
}

.cloud {
  color: #6c767d;
  font-size: 25px;
}

.rain {
  color: #c2cfd8;
  font-size: 25px;
}

.day {
  font-family: "Ibarra Real Nova", serif;
}

.units {
  position: relative;
  top: -12px;
  text-decoration: none;
  font-family: "Ibarra Real Nova", serif;
}

.units .link-dark {
  text-decoration: none;
  font-family: "Ibarra Real Nova", serif;
}

.units .link-dark:hover {
  text-decoration: underline;
  font-family: "Ibarra Real Nova", serif;
}

.temperature-city-date div {
  width: 50%;
  display: inline-block;
}

#fs-1 {
  float: left;
}
