body {
  background-color: #ffff;
  font-family: "Ibarra Real Nova", serif;
}

h1 {
  font-family: "Ibarra Real Nova", serif;
  padding-top: 50px;
}

h4 {
  font-family: "Ibarra Real Nova", serif;
  font-weight: lighter;
}

p {
  font-family: "Ibarra Real Nova", serif;
  font-size: 18px;
  font-weight: bolder;
}

img {
  margin-right: 5px;
  height: 60px;
  width: 60px;
}

ul {
  list-style-type: none;
}

.weather-app-search {
  max-width: 600px;
  margin: 30px auto;
}

.day {
  font-family: "Ibarra Real Nova", serif;
}

.units {
  position: relative;
  top: -12px;
  text-decoration: none;
  font-family: "Ibarra Real Nova", serif;
}

.units .link-dark {
  text-decoration: none;
  font-family: "Ibarra Real Nova", serif;
}

.units .link-dark:hover {
  text-decoration: underline;
  font-family: "Ibarra Real Nova", serif;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forcast-temperature {
  font-size: 13px;
}
